.stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.23);
    border-radius: 8px;
    padding: 55px 65px;
    font-family: 'Roboto', sans-serif;
    height: 300px;
    background-color: lightgray;
}


.btn { 
   
    color: #ffff;
    cursor: pointer;
}

.btn--green {
    /* background-color: var(--buttonGreen); */
    background-color: green;
}

.btn--circle {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
}

.btn--text {
    font-size: 25px;
}


.presentation-container {
    
}