.btn { 
   
    color: #ffff;
    cursor: pointer;
}

.btn--circle {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
}

.btn--text {
    font-size: 25px;
}

.sessionButton {

}

.btn__sessionbtn--color--green {
    background-color: green;
}
.btn__sessionbtn--color--red {
    background-color: red;

}

