.btn { 
   
    color: #ffff;
    cursor: pointer;
}

.btn--green {
    background-color: var(--buttonGreen);
}

.btn--circle {
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
}

.btn--text {
    font-size: 25px;
}

.sessionButton {

}